@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo img{
    width: 275%;
    border: 1px solid white;
    border-radius: 84%;
    align-items: center;



}


.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.nav-list{
    width: 50%;
    /* background-color: black; */
    display: flex;
    align-items: center;
}

.nav-list li{
    list-style: none;
    padding: 26px 30px;
}
.nav-list li a{
    text-decoration: none;
    color: white;
}
.nav-list li a:hover {
    color: grey;
}
.rightnav{
    /* background-color: blueviolet; */
    width: 40%;
    text-align: right;
    padding: 0 10px;
}
#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid gray;
    border-radius: 9px;
}
.background{
    background: rgba(0, 0, 0, 0.7) url('..///Image/background.jpg') ;
    background-size: cover;
    background-blend-mode: darken;
}
.firstsection{
    height: 100vh;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
        height: 70%;

}
.firsthalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.secondhalf{
    width: 30%;
}
.secondhalf img{
    width: 170px;
    border: 0px solid white;
    border-radius: 41px;
    margin-top: 10px;
}
}

.text-big{
    font-size: 22px;

}
.text-small{
    font-size: 10px;
}
.btn{
    padding: 5px 15px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;

}
.btn-sm{
    padding: 4px 8px;
    vertical-align: middle;
}
.btn-dark{
    color: black;
        border: 2px solid black;


}
.section{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;

}
.section-left{
    flex-direction: row-reverse;
    font-family: 'Ubuntu', sans-serif;

}
.paras{
    padding: 0px 85px;
}
.sectionsubTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.thumbnail img{
    width: 137px;
    border: 0px solid white;
    border-radius: 41px;
    margin-top: 18px;
}
.contact{
    background-color: rgb(199 193 193);
    height: 90vh;
}
.text-center{
    text-align: center;  

}
.form{
    max-width: 542px;
    margin: auto;

}
.form-input{
    text-align: start;
    margin: 6px -70px;
    padding: 5px 80px;
    width: 100%;
    font-size: 10px;
    border: 2px solid gray;
    border-radius: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.text-footer{
    text-align: center;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    color: white;



}
